{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <h1>All posts</h1>
    {% if user.is_authenticated %}
        <div class="border p-3">
            <h4>New Post</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.text|as_crispy_field }}
                <input type="submit" class="btn btn-primary" value="Post">
            </form>
        </div>
    {% endif %}
    
    {% include 'network/partials/posts_loop.html' %}
{% endblock %}